.brand-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.navbar-links {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 19px;
}

.navbar-links a {
  color: black !important;
}
